
    body {
        font-family: 'Major Mono Display', monospace;
        background-color: hsla(0, 0%, 100%, 0.6);
    }

    .text {
        font-size: 4.4vw;
        text-align: left;
        margin-left: 20px;
        color: #d1d1d1;
        letter-spacing: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .section
    {
        /* height: 48px; */
        /* line-height: 48px; */
    }

    .border-bottom-class
    {
        /* border-bottom: 1px solid #8c8c8c; */
    }

    /* .days-color {
        
    }

    .hours-color {
        
    }

    .minutes-color {
        
    }

    .seconds-color {
        
    } */

    .container {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    
    
      

      .countdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
      }
      
      .countdown-header {
        text-align: center;
      }
      
      .countdown-timer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
      }
      
      .countdown-label {
        font-size: 18px;
        font-weight: bold;
      }
      
      #days, #hours, #minutes, #seconds {
        font-size: 24px;
        font-weight: bold;
      }
      
      /*.countdown {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.countdown-timer {
  border-bottom: 1px solid #ccc;
}

.countdown-label {
  color: #ccc;
}

#days, #hours, #minutes, #seconds {
  color: #000;
}*/


.countdown1 {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .countdown-timer {
    border-bottom: 1px solid #ccc;
  }
  
  .countdown-label {
    color: #ccc;
  }
  
  #days, #hours, #minutes, #seconds {
    color: #000;
  }
  
  
  
  /*Fliiping*/
  /*START OF FLIP EXAMPLE PRESET*/


  .tick {
      padding-bottom: 1em;
      font-size:1rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  .tick-label {
      font-size:.375em;
      text-align:center;
  }

  .tick-group {
      margin:0 .25em;
      text-align:center;
  }